$color-code-white: #ffff;
$color-code-grey : #EFEFEF;
$color-code-dark-grey : #9e9e9e;
$color-code-grey-title: #E3E3E3;
$color-code-orange: #FFB800;

$color-code-black: #000000;

$gradient-code-red-blue : linear-gradient(#0047FF, #002A63);